<?xml version="1.0" encoding="UTF-8" ?>

<!--
    layout 标签：负责把事件转换为字符串，格式化日志信息输出
-->
<!--
    RollingFileAppender：滚动记录文件，先将日志记录到指定文件，当符合某个条件时，将日志记录到其他文件。
-->
<!--
    TimeBasedRollingPolicy:滚动策略：它根据时间来制定滚动策略，既负责滚动也负责出发滚动
 -->
<!--
    fileNamePattern:日志文件输出的文件名
 -->
<!--
    triggeringPolicy： 告知 RollingFileAppender 合适激活滚动
-->
<!--
    <encoder>：对记录事件进行格式化。负责两件事，
     一是把日志信息转换成字节数组，
     二是把字节数组写入到输出。 PatternLayoutEncoder 是唯一有用的且默认的encoder，有一个<pattern>节点，用来设置日志的输入格式。使用“%”加“转换符”方式，如果要输出“%”，则必须用“\”对“%”进行转义。
 -->


<configuration>

    <!--spring boot 默认logback配置-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!--定义变量-->

    <!--<springProperty scope="context" name="appName" source="spring.application.name"/>-->
    <property name="LOG_CONTEXT_NAME" value="HBY"/>
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="logs/${LOG_CONTEXT_NAME}" />
    <!-- 定义日志上下文的名称 -->
    <contextName>${LOG_CONTEXT_NAME}</contextName>
    <!-- 控制台输出 -->
    <!--<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            &lt;!&ndash;格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符&ndash;&gt;
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56}.%method:%L - %msg%n</pattern>
            &lt;!&ndash;<charset>gbk</charset>&ndash;&gt;
        </encoder>
    </appender>-->
  <!--  <property name="LOG_HOME" value="E:/PROJECT/my-daifu/my-daifu-project/my-daifu-admin/src/main/resources/log" />-->

    <!--输入日志文件-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %date [%thread] %-5level %logger{80} - %msg%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/agent.info.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>
                %date [%thread] %-5level %logger{80} %line - %msg%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/info/console-info.%d{yyyy-MM-dd-HH}.log</fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
    </appender>


    <!--错误日志文件-->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>
                %date [%thread] %-5level %logger{80} - %msg%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/error/console-error.%d{yyyy-MM-dd-HH}.log</fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <!--日志文件最大的大小-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!--<appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender" >-->
    <!--<layout class="ch.qos.logback.classic.PatternLayout">-->
    <!--<pattern>-->
    <!--%date [%thread] %-5level %logger{80} - %msg%n-->
    <!--</pattern>-->
    <!--</layout>-->
    <!--</appender>-->

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="consoleLog" />-->
        <appender-ref ref="fileInfoLog" />
        <appender-ref ref="fileErrorLog" />
    </root>


</configuration>